html:has(#bg1:checked),
#bg1 {
  --size: 50px;
  --color1: #fad4fd;
  --color2: #c7c8ff;
  background:
    linear-gradient(25deg, var(--color1) 25%, transparent 25%),
    linear-gradient(-25deg, var(--color1) 25%, transparent 25%),
    linear-gradient(25deg, transparent 75%, var(--color1) 75%) var(--size) 0,
    linear-gradient(-25deg, transparent 75%, var(--color1) 75%) var(--size) 0,
    var(--color2);
  background-size: calc(var(--size) * 2) var(--size);
}

html:has(#bg2:checked),
#bg2 {
  --size: 100px;
  --disp: calc(var(--size) / 2 - (var(--size)) / 9.4);
  --color1: #97dddf;
  --color2: #6cb9b5;
  --color3: #ececec;
  background:
    radial-gradient(var(--color2) 15%, transparent 15%) 0 var(--disp),
    radial-gradient(var(--color1) 15%, transparent 15%) 0 calc(var(--disp) * -1),
    radial-gradient(var(--color1) 15%, transparent 15%) var(--disp) 0,
    radial-gradient(var(--color1) 15%, transparent 15%) calc(var(--disp) * -1) 0,
    radial-gradient(transparent 56%, var(--color1) 56% 59%, transparent 59%);
  background-size: var(--size) var(--size);
  background-color: var(--color3);
}

html:has(#bg3:checked),
#bg3 {
  --size: 100px;
  --color1: #524500;
  --color2: #f5eea6;
  --color3: #ffffe3;
  --top: var(--color2) 13%, var(--color1) 13% 14%, transparent 14%;
  --bottom: transparent 86%, var(--color1) 86% 87%, var(--color2) 87%;
  background:
    linear-gradient(30deg, var(--top)) 0 calc(var(--size) / -1.334),
    linear-gradient(-30deg, var(--bottom)) 0 calc(var(--size) / 1.334),
    linear-gradient(30deg, var(--bottom)) 0 calc(var(--size) / 1.334),
    linear-gradient(-30deg, var(--top)) 0 calc(var(--size) / -1.334),
    linear-gradient(30deg, var(--bottom)) calc(var(--size) / -2) 0,
    linear-gradient(-30deg, var(--bottom)) calc(var(--size) / 2) 0,
    linear-gradient(30deg, var(--top)) calc(var(--size) / 2) 0,
    linear-gradient(-30deg, var(--top)) calc(var(--size) / -2) 0,
    linear-gradient(
      to right,
      var(--color1) 1%,
      transparent 1% 49%,
      var(--color1) 49% 51%,
      transparent 51% 99%,
      var(--color1) 99%
    );
  background-size: var(--size) calc(var(--size) * 1.5);
  background-color: var(--color3);
}

html:has(#bg4:checked),
#bg4 {
  --size: 200px;
  --color1: #969300;
  --color2: #001031;
  --color3: #1d3100;
  --r: 2.5%; /*radio centers*/
  --wv: 15; /* num of waves*/
  --incr: calc((44.66% - (var(--r) * 2)) / var(--wv)); /* increment*/
  --area: var(--size) var(--size);
  --waves: transparent var(--r),
    var(--color2) var(--r) calc(var(--r) + var(--incr)),
    var(--color3) calc(var(--r) + var(--incr)) calc(var(--r) + var(--incr) * 2),
    var(--color2) calc(var(--r) + var(--incr) * 2)
      calc(var(--r) + var(--incr) * 3),
    var(--color3) calc(var(--r) + var(--incr) * 3)
      calc(var(--r) + var(--incr) * 4),
    var(--color2) calc(var(--r) + var(--incr) * 4)
      calc(var(--r) + var(--incr) * 5),
    var(--color3) calc(var(--r) + var(--incr) * 5)
      calc(var(--r) + var(--incr) * 6),
    var(--color2) calc(var(--r) + var(--incr) * 6)
      calc(var(--r) + var(--incr) * 7),
    var(--color3) calc(var(--r) + var(--incr) * 7)
      calc(var(--r) + var(--incr) * 8),
    var(--color2) calc(var(--r) + var(--incr) * 8)
      calc(var(--r) + var(--incr) * 9),
    var(--color3) calc(var(--r) + var(--incr) * 9)
      calc(var(--r) + var(--incr) * 10),
    var(--color2) calc(var(--r) + var(--incr) * 10)
      calc(var(--r) + var(--incr) * 11),
    var(--color3) calc(var(--r) + var(--incr) * 11)
      calc(var(--r) + var(--incr) * 12),
    var(--color2) calc(var(--r) + var(--incr) * 12)
      calc(var(--r) + var(--incr) * 13),
    var(--color3) calc(var(--r) + var(--incr) * 13)
      calc(var(--r) + var(--incr) * 14),
    var(--color2) calc(var(--r) + var(--incr) * 14)
      calc(var(--r) + var(--incr) * 15),
    transparent calc(var(--r) + var(--incr) * var(--wv));
  background:
    radial-gradient(
        circle at center center,
        var(--color1) calc(var(--r) * 3),
        transparent 0
      )
      calc(var(--size) / 4) calc(var(--size) / 4) / calc(var(--size) / 2)
      calc(var(--size) / 2),
    radial-gradient(circle at center top, var(--waves)) 0
      calc(var(--size) / 2) / var(--area),
    radial-gradient(circle at center bottom, var(--waves)) calc(var(--size) / 2)
      calc(var(--size) / 2) / var(--area),
    radial-gradient(circle at center top, var(--waves)) 0 0 / var(--area),
    radial-gradient(circle at center bottom, var(--waves)) calc(var(--size) / 2)
      0 / var(--area);
  background-color: var(--color3);
}

html:has(#bg5:checked),
#bg5 {
  --size: 300px;
  --color1: #8d008d;
  --color2: #000441;
  --color3: #33004d;
  --wv: 15; /* num of waves */
  --r: 1.6%; /*radio center */
  --incr: calc((29.8% - (var(--r) * 2)) / var(--wv)); /* increment  */
  --area: var(--size) var(--size);
  /*half circle*/
  --hc: transparent var(--r),
    var(--color2) calc(var(--r)) calc(var(--r) + var(--incr)),
    var(--color3) calc(var(--r) + var(--incr)) calc(var(--r) + var(--incr) * 2),
    var(--color2) calc(var(--r) + var(--incr) * 2)
      calc(var(--r) + var(--incr) * 3),
    var(--color3) calc(var(--r) + var(--incr) * 3)
      calc(var(--r) + var(--incr) * 4),
    var(--color2) calc(var(--r) + var(--incr) * 4)
      calc(var(--r) + var(--incr) * 5),
    var(--color3) calc(var(--r) + var(--incr) * 5)
      calc(var(--r) + var(--incr) * 6),
    var(--color2) calc(var(--r) + var(--incr) * 6)
      calc(var(--r) + var(--incr) * 7),
    var(--color3) calc(var(--r) + var(--incr) * 7)
      calc(var(--r) + var(--incr) * 8),
    var(--color2) calc(var(--r) + var(--incr) * 8)
      calc(var(--r) + var(--incr) * 9),
    var(--color3) calc(var(--r) + var(--incr) * 9)
      calc(var(--r) + var(--incr) * 10),
    var(--color2) calc(var(--r) + var(--incr) * 10)
      calc(var(--r) + var(--incr) * 11),
    var(--color3) calc(var(--r) + var(--incr) * 11)
      calc(var(--r) + var(--incr) * 12),
    var(--color2) calc(var(--r) + var(--incr) * 12)
      calc(var(--r) + var(--incr) * 13),
    var(--color3) calc(var(--r) + var(--incr) * 13)
      calc(var(--r) + var(--incr) * 14),
    var(--color2) calc(var(--r) + var(--incr) * 14)
      calc(var(--r) + var(--incr) * 15),
    transparent calc(var(--r) + var(--incr) * var(--wv));
  background:
    radial-gradient(
        circle at center center,
        var(--color1) calc(var(--r) * 5),
        transparent calc(var(--r) * 5)
      )
      calc(var(--size) / 6) calc(var(--size) / 6) / calc(var(--size) / 3)
      calc(var(--size) / 3),
    radial-gradient(circle at right, var(--hc)) calc(var(--size) / 3)
      calc(var(--size) / -6) / var(--area),
    radial-gradient(circle at right, var(--hc)) 0 calc(var(--size) / 2) /
      var(--area),
    radial-gradient(circle at bottom, var(--hc)) calc((var(--size) / 2))
      calc(var(--size) / -3) / var(--area),
    radial-gradient(circle at left, var(--hc)) calc(var(--size) / 1.5)
      calc(var(--size) / -6) / var(--area),
    radial-gradient(circle at bottom, var(--hc)) calc(var(--size) / 6)
      calc(var(--size) / 3) / var(--area),
    radial-gradient(circle at right, var(--hc)) calc(var(--size) / -3)
      calc(var(--size) / 6) / var(--area),
    radial-gradient(circle at top, var(--hc)) calc(var(--size) / 6)
      calc(var(--size) / -3) / var(--area),
    radial-gradient(circle at top, var(--hc)) calc(var(--size) / -6)
      calc(var(--size) / 3) / var(--area),
    radial-gradient(circle at left, var(--hc)) calc(var(--size) / 3)
      calc(var(--size) / -2) / var(--area),
    radial-gradient(circle at top, var(--hc)) calc(var(--size) / -2) 0 /
      var(--area),
    radial-gradient(circle at bottom, var(--hc)) calc(var(--size) / -6) 0 /
      var(--area),
    radial-gradient(circle at left, var(--hc)) 0 calc(var(--size) / 6) /
      var(--area);
  background-color: var(--color3);
}

html:has(#bg6:checked),
#bg6 {
  --size: 100px;
  --color1: #7a4900;
  --color2: #251200;
  --color3: #302b00;
  --r: 4%; /*radio centers*/
  --wv: 15; /* num of waves*/
  --incr: calc((70.62% - (var(--r) * 2)) / var(--wv)); /* increment*/
  --waves: transparent var(--r),
    var(--color2) var(--r) calc(var(--r) + var(--incr)),
    var(--color3) calc(var(--r) + var(--incr)) calc(var(--r) + var(--incr) * 2),
    var(--color2) calc(var(--r) + var(--incr) * 2)
      calc(var(--r) + var(--incr) * 3),
    var(--color3) calc(var(--r) + var(--incr) * 3)
      calc(var(--r) + var(--incr) * 4),
    var(--color2) calc(var(--r) + var(--incr) * 4)
      calc(var(--r) + var(--incr) * 5),
    var(--color3) calc(var(--r) + var(--incr) * 5)
      calc(var(--r) + var(--incr) * 6),
    var(--color2) calc(var(--r) + var(--incr) * 6)
      calc(var(--r) + var(--incr) * 7),
    var(--color3) calc(var(--r) + var(--incr) * 7)
      calc(var(--r) + var(--incr) * 8),
    var(--color2) calc(var(--r) + var(--incr) * 8)
      calc(var(--r) + var(--incr) * 9),
    var(--color3) calc(var(--r) + var(--incr) * 9)
      calc(var(--r) + var(--incr) * 10),
    var(--color2) calc(var(--r) + var(--incr) * 10)
      calc(var(--r) + var(--incr) * 11),
    var(--color3) calc(var(--r) + var(--incr) * 11)
      calc(var(--r) + var(--incr) * 12),
    var(--color2) calc(var(--r) + var(--incr) * 12)
      calc(var(--r) + var(--incr) * 13),
    var(--color3) calc(var(--r) + var(--incr) * 13)
      calc(var(--r) + var(--incr) * 14),
    var(--color2) calc(var(--r) + var(--incr) * 14)
      calc(var(--r) + var(--incr) * 15),
    transparent calc(var(--r) + var(--incr) * var(--wv));
  background: radial-gradient(circle at right bottom, var(--waves)),
    radial-gradient(circle at left top, var(--waves));
  background-color: var(--color1);
  background-size: var(--size) var(--size);
}
