---
import { svgToDataUrl } from "@utils/IconsService";
import { Wave } from "@lib/Icons";

const backgroundImage = svgToDataUrl(Wave);

---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrusel solo con HTML y CSS</title>
    <style>
      /* Estilos básicos para el carrusel */
      .carousel {
        position: relative;
        width: 300px;
        height: 200px;
        /* overflow: hidden; */
      }

      .slides {
        display: flex;
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease-in-out;
      }

      .slides input {
        display: none;
      }

      .slide {
        flex: 1 0 100%;
        width: 100%;
        height: 100%;
        position: relative;
      }

      .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px 0px 0px 15px;
      }

      /* Navegación */
      .navigation {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
      }

      .navigation label {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .navigation label:hover {
        background-color: #000;
      }

      /* Control de las diapositivas */
      #slide1:checked ~ .slides {
        transform: translateX(0%);
      }

      #slide2:checked ~ .slides {
        transform: translateX(-100%);
      }

      #slide3:checked ~ .slides {
        transform: translateX(-200%);
      }

      #htmlhtml:checked ~ .slides {
        transform: translateX(-300%);
      }

      /* Asignación de labels a inputs */
      #slide1:checked ~ .navigation label[for="slide1"],
      #slide2:checked ~ .navigation label[for="slide2"],
      #slide3:checked ~ .navigation label[for="slide3"],
      #slide4:checked ~ .navigation label[for="htmlhtml"] {
        background-color: #000;
      }
    </style>
  </head>
  <body>


    <!-- letras svg -->


    <div class="carousel">
      <input type="radio" name="slides" id="slide1" checked />
      <input type="radio" name="slides" id="slide2" />
      <input type="radio" name="slides" id="slide3" />
      <input type="radio" name="slides" id="htmlhtml" />

      <div class="slides">
        <div class="slide">
          <img
            src="https://via.placeholder.com/300x200/FF0000/FFFFFF?text=Slide+1"
            alt="Slide 1"
          />
        </div>
        <div class="slide">
          <img
            src="https://via.placeholder.com/300x200/00FF00/FFFFFF?text=Slide+2"
            alt="Slide 2"
          />
        </div>
        <div class="slide">
          <img
            src="https://via.placeholder.com/300x200/0000FF/FFFFFF?text=Slide+3"
            alt="Slide 3"
          />
        </div>
        <div class="slide">
          <img
            src="https://via.placeholder.com/300x200/FFFF00/FFFFFF?text=Slide+4"
            alt="Slide 4"
          />
        </div>
      </div>

      <div>
        <span>
          <div>
            <div class="navigation">
              <label for="slide1"></label>
              <label for="slide2"></label>
              <label for="slide3"></label>
              <label for="htmlhtml"></label>
            </div>
          </div>
        </span>
      </div>
    </div>
    <br />
    <br />
    <br />
    <label for="htmlhtml" style="color: #000;">fsdfsdf</label>

    <div class="loading wave">
      Sharkit
    </div>


    <svg width="200px" height="300px">
      <path fill="#fefffe" d="M 199.5,93.5 C 199.5,162.167 199.5,230.833 199.5,299.5C 132.833,299.5 66.1667,299.5 -0.5,299.5C -0.5,231.167 -0.5,162.833 -0.5,94.5C 26.9228,104.342 54.9228,106.508 83.5,101C 96.1667,96.3333 108.833,91.6667 121.5,87C 148.088,81.735 174.088,83.9017 199.5,93.5 Z"/>
      </svg>
      
<style define:vars={{backgroundImage}}>
  body {
  background: #141414;
  width: 100%;
  height: 100%;
}

.loading {
  text-transform: uppercase;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
  font-size: 100pt;
  text-align: center;
  height: 120px;
  line-height: 110px;
  vertical-align: bottom;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

@keyframes wave-animation {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 200px bottom;
  }
}
@keyframes loading-animation {
  0% {
    background-size: 200px 0px;
  }
  100% {
    background-size: 200px 200px;
  }
}
.wave {
  background-color: red;
  color: #fff;
  /* background-image: url("/wave.svg"); */
  background-image: var(--backgroundImage);
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
  animation: wave-animation 1s infinite linear, loading-animation 10s infinite linear alternate;
  background-size: 200px 100px;
  background-repeat: repeat-x;
  opacity: 1;
}

</style> 
  </body>
</html>



    <!-- https://codepen.io/trinketmage/pen/qJpKEa -->

    <!-- https://codi.link/PGgyIGNsYXNzPSJib3JkZXIiPndhdnk8L2gyPgo8aDIgY2xhc3M9IndhdmUiPndhdnk8L2gyPg==%7CaDIgewogIGZvbnQtc2l6ZTogMTV2bWluOwogIHBvc2l0aW9uOiBhYnNvbHV0ZTsKfQoKLmJvcmRlciB7CiAgY29sb3I6IGJsYWNrOyAgCiAgdGV4dC1zaGFkb3c6CiAgICAtMXB4IC0xcHggMCB3aGl0ZSwgCiAgICAxcHggLTFweCAwIHdoaXRlLAogICAgLTFweCAxcHggMCB3aGl0ZSwKICAgIDFweCAxcHggMCB3aGl0ZTsgIAp9Cgoud2F2ZSB7CiAgY29sb3I6ICMwOWY7CiAgYW5pbWF0aW9uOiB3YXZlIDNzIGVhc2UtaW4tb3V0IGluZmluaXRlOwp9CgpAa2V5ZnJhbWVzIHdhdmUgewogIDAlLCAxMDAlIHsKICAgIGNsaXAtcGF0aDogcG9seWdvbigKICAgICAgMCUgNDclLAogICAgICAxMCUgNDglLAogICAgICAzMyUgNTQlLAogICAgICA1NCUgNjAlLAogICAgICA3MCUgNjElLAogICAgICA4NCUgNTklLAogICAgICAxMDAlIDUyJSwKICAgICAgMTAwJSAxMDAlLAogICAgICAwJSAxMDAlCiAgICApOwogIH0KCiAgNTAlIHsKICAgIGNsaXAtcGF0aDogcG9seWdvbigwJSA2MCUsCiAgICAxNSUgNjUlLAogICAgMzQlIDY2JSwKICAgIDUxJSA2MiUsCiAgICA2NyUgNTAlLAogICAgODQlIDQ1JSwKICAgIDEwMCUgNDYlLAogICAgMTAwJSAxMDAlLAogICAgMCUgMTAwJQogICAgKTsKICB9Cn0KCmJvZHkgewogIGZvbnQtZmFtaWx5OiAtYXBwbGUtc3lzdGVtLCBCbGlua01hY1N5c3RlbUZvbnQsICdTZWdvZSBVSScsIFJvYm90bywgT3h5Z2VuLCBVYnVudHUsIENhbnRhcmVsbCwgJ09wZW4gU2FucycsICdIZWx2ZXRpY2EgTmV1ZScsIHNhbnMtc2VyaWY7CiAgYmFja2dyb3VuZDogYmxhY2s7CiAgZGlzcGxheTogZmxleDsgIAogIGhlaWdodDogMTAwdmg7CiAgd2lkdGg6IDEwMHZ3OwogIGFsaWduLWl0ZW1zOiBjZW50ZXI7CiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7Cn0KCiogewogIG1hcmdpbjogMDsKICBwYWRkaW5nOiAwOwp9%7C -->


<!-- oceano posiblemente locura -->

<!--

<div id='surface'></div>
<div id='caustics'></div>
<div id='bg'></div>
<div id='sun'>
  <div id='sun_layer1'></div>
  <div id='sun_layer2'></div>
  <div id='sun_layer3'></div>
</div>

<main>
  <section>
    <div>
      <h1>Underwater #1</h1>
      <p><small>pure CSS texture animation</small></p>
    </div>
    <div class="arrows">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </section>
  <section>
    <div>
      <p>This animation uses seamless textures.<br><small>(made by Wakana Y.K.)</small></p>
    </div>
  </section>
  <section>
  </section>
  <section>
  </section>
  <section>
    <div>
      <h2>Related works</h2>
      <div>
        <figure>
          <a target="_top" href="https://codepen.io/wakana-k/pen/KKYmxYq"><img src="https://shots.codepen.io/username/pen/KKYmxYq-1280.jpg"></a>
          <figcaption>Underwater #2</figcaption>
        </figure>
        <figure>
          <a target="_top" href="https://codepen.io/wakana-k/pen/jORywbO"><img src="https://shots.codepen.io/username/pen/jORywbO-1280.jpg"></a>
          <figcaption>Cloud and Sunbeam #1</figcaption>
        </figure>
        <figure>
          <a target="_top" href="https://codepen.io/wakana-k/pen/zYXwLPq"><img src="https://shots.codepen.io/username/pen/zYXwLPq-1280.jpg"></a>
          <figcaption>Cloud and Sunbeam #2</figcaption>
        </figure>
        <figure>
          <a target="_top" href="https://codepen.io/wakana-k/pen/XWQpVNB"><img src="https://shots.codepen.io/username/pen/XWQpVNB-1280.jpg"></a>
          <figcaption>Sky and Birds</figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section>
  </section>
  <section>
    <div>
      <p>Fin.</p>
    </div>
  </section>
</main>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
:root {
  --ratioW: 1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
  min-height: 100%;
}
body {
  font-family: "Asap", sans-serif;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
  background: linear-gradient(
    to bottom,
    oklch(60% 0.2 230),
    oklch(60% 0.2 180)
  );
  color: white;
  font-size: clamp(12px, 5.5vw, 28px);
}
main {
  position: relative;
}
section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1,
h2,
p,
figcaption {
  overflow-wrap: break-word;
  max-width: 80vw;
  mix-blend-mode: overlay;
  transform: translate3d(0, 0, 0); /* for safari */
}
h2 {
  font-size: 1.3em;
}
figure {
  margin: 3rem 0;
  font-size: 0.7em;
  color: currentColor;
}
figure img {
  display: block;
  width: clamp(100px, 50vw, 300px);
  border-radius: 10px;
  filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.2));
  background-color: lightgray;
}
figure a {
  text-decoration: none;
  color: currentColor;
}

#bg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: linear-gradient(
    to bottom,
    white,
    gray 25%,
    gray 60%,
    khaki
  );
  opacity: 0.5;
  mix-blend-mode: overlay;
}
#surface {
  mix-blend-mode: overlay;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#surface::before,
#surface::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/happy358/misc/main/image/cloud_X.png);
  background-repeat: repeat-x;

  --duration: 6s;
  --lowHeight: 20vh;
  --highHeight: 40vh;
  --layerNum: 2;
  --index: 0;
  --opacity: 0.4;

  animation: surface var(--duration) linear infinite;
  animation-delay: calc(
    (var(--duration) / var(--layerNum)) * var(--index) * -1
  );
  opacity: 0;
}
#surface::before {
  --index: 0;
  transform: scale3d(1, -1, 1);
}
#surface::after {
  --index: 1;
  transform: scale3d(-1, -1, 1);
}
#caustics {
  position: fixed;
  bottom: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform-origin: bottom center;
  transform: scale3d(2, 1, 1);
}
#caustics::before,
#caustics::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/happy358/misc/main/image/caustics.png);
  background-repeat: repeat;

  --duration: 10s;
  --height: 30vh;
  --gapY: 0px;

  background-size: calc(100vw / (var(--ratioW))) 40vh;
  animation: caustics calc(var(--duration) * (var(--ratioW))) linear infinite;
  opacity: 0.3;
  mask-image: linear-gradient(
    to top,
    white,
    transparent var(--height),
    transparent
  );
}
#caustics::after {
  --duration: 11s;
  --gapY: 10vh;
  animation-delay: -2s;
  transform: scale3d(-1, 1, 1);
}

#sun {
  mix-blend-mode: overlay;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#sun div {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50vw 0;
  animation: sun 7s ease infinite alternate;

  mask-image: linear-gradient(
    to bottom,
    transparent 15%,
    white 50%,
    white 55%,
    transparent 80%
  );
}
#sun #sun_layer1 {
  background: linear-gradient(
    to right,
    transparent 39%,
    white 40%,
    transparent 41%,
    transparent 48.5%,
    white 50%,
    transparent 51.5%,
    transparent 53%,
    white 54%,
    transparent 55%,
    transparent 70%,
    white 71%,
    transparent 72%
  );
}
#sun #sun_layer2 {
  animation-delay: -2s;
  animation-duration: 7.8s;
  animation-direction: alternate-reverse;
  background: linear-gradient(
    to right,
    transparent 32%,
    white 33%,
    transparent 34%,
    transparent 38%,
    white 39%,
    transparent 40%,
    transparent 53%,
    white 54%,
    transparent 55%,
    transparent 63.5%,
    white 65%,
    transparent 66.5%
  );
}
#sun #sun_layer3 {
  animation-delay: -5s;
  animation-duration: 8.5s;
  background: linear-gradient(
    to right,
    transparent 38.5%,
    white 40%,
    transparent 41.5%,
    transparent 47%,
    white 48%,
    transparent 49%,
    transparent 52%,
    white 53%,
    transparent 54%,
    transparent 60%,
    white 61%,
    transparent 62%
  );
}

.arrows {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0.5rem;
  text-align: center;
  mix-blend-mode: overlay;
}
.arrows div {
  --arrowSize: 1.3rem;
  --arrowColor: currentColor;

  width: var(--arrowSize);
  height: var(--arrowSize);
  margin: calc(var(--arrowSize) * -1.5) 0;
  background: transparent;
  border: calc(var(--arrowSize) * 0.11) solid;
  border-color: transparent transparent var(--arrowColor) var(--arrowColor);
  transform: rotate(-45deg);
  animation: arrow 2s infinite linear;
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.arrows div:nth-of-type(3) {
  animation-delay: -0.8s;
}
.arrows div:nth-of-type(2) {
  animation-delay: -0.4s;
}
.arrows div:nth-of-type(1) {
  animation-delay: 0s;
}

@keyframes surface {
  0% {
    opacity: 0;
    background-position: center bottom;
    background-size: calc(3 * var(--highHeight)) var(--highHeight);
  }
  20% {
    opacity: var(--opacity);
  }
  100% {
    opacity: 0;
    background-position: center bottom calc(-1 * var(--lowHeight));
    background-size: calc(1 * var(--lowHeight)) var(--lowHeight);
  }
}
@keyframes caustics {
  0% {
    background-position: bottom var(--gapY) left;
  }
  100% {
    background-position: bottom var(--gapY) left -100vw;
  }
}
@keyframes sun {
  0% {
    opacity: 0.1;
    transform: skew(5deg) scale3d(3, 1.5, 1);
  }
  50% {
    opacity: 0.08;
    transform: skew(0deg) scale3d(1.5, 1, 1);
  }
  100% {
    opacity: 0.1;
    transform: skew(-5deg) scale3d(3, 1, 1);
  }
}
@media (orientation: portrait) {
  :root {
    --ratioW: 1;
  }
}
@media (min-aspect-ratio: 1/1) {
  :root {
    --ratioW: 2;
  }
}
@media (min-aspect-ratio: 2/1) {
  :root {
    --ratioW: 3;
  }
}
@media (min-aspect-ratio: 3/1) {
  :root {
    --ratioW: 4;
  }
}
@media (min-aspect-ratio: 4/1) {
  :root {
    --ratioW: 5;
  }
}
@media (min-aspect-ratio: 5/1) {
  :root {
    --ratioW: 6;
  }
}

</style> -->




<!-- ejemplos de agua -->

<!-- interesante -->

<!-- https://codepen.io/imani-ames/pen/mdROVMr -->

<!-- <div class="spinner">
    <div class="container">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</div>
.spinner {
    position: absolute;
    margin: auto;
    overflow: hidden;
  
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.container {
  left: 50%;
  top: 50%;
  overflow: hidden;
  width: 140px;
  height: 200px;
  animation: loading 20s linear infinite;
}

.wave {
    width: 280px;
    height: 280px;
    background: #3257a3;
    border-radius: 45%;
    transform-style: preserve-3d;
    transform-origin: center;
    animation: rotate 2.5s linear infinite;
    margin-top: 15px;
    margin-left: -50%;
   // mix-blend-mode: multiply;
    position: absolute;
  
    &:nth-of-type(1) {
      margin-top: 20px;
      animation-duration: 2.1s;
      animation-direction: reverse;
      z-index:1;
    }
  
    &:nth-of-type(2) {
      animation-duration: 2.5s;
      border-radius: 41%;
      animation-direction: normal;
      background: #83b1df;
    }
}

@keyframes rotate {
  0% {
    transform: rotate(0) translate(0,0);
  }
  45% {
    transform: rotate(90deg) translate(15px, 15px);
  }
  100% {
    transform: rotate(180deg) translate(0, 0);
  }
}

@keyframes loading {
  0% {
    transform: translate(0, 80%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 80%);
  }
} -->

<!-- <!DOCTYPE html>
<html lang="en-US">
<head>
    <title> Water Loading Animation </title>
    <link rel="stylesheet" href="style.css">
</head>        
<body>
    
    <div class="water-cup"></div>

    <style>
      * {
  
    margin: 0;
    padding: 0;
    background: #262626;

}

.water-cup {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 180px;
    border: 6px solid #262626;
    border-top: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url("https://image.ibb.co/fmHm66/wave.png");
    background-repeat: repeat-x;
    animation: animate 10s linear infinite;
    box-shadow: 0 0 0 6px #fff , 0 20px 35px rgba(0,0,0,1);
    
}


.water-cup:before {
    
    content: '';
    position: absolute;
    width: 50px;
    height: 80px;
    border: 6px solid #fff;
    right: -68px;
    top: 30px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;

}

@keyframes animate {
    
    0% {
        
        background-position: 0 100px;
        
    }
     
    10% {
        
        background-position: 0 100px;
        
    }
     
     
    40% {
        
        background-position: 1000px 0;
        
        
    }
     
     
    80% {
        
        background-position: 2000px -70px;
                

    }
    
    100% {
        
        background-position: 2500px 100px;
        
    } 
}
    </style>
   
</body>        
</html> -->

<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100" preserveAspectRatio="none" id="waves">
    <path id="water" fill="orangered" d="M 100 200 V200 H0 V 50 Q 12.5 42 25 50 T 50 50 T 75 50 T 100 50 T 125 50 T 150 50 T 175 50 T 200 50 V 200 z">
      <animate  class="start_svg_animation" fill="freeze" begin="indefinite" attributeName="d" to="M 100 200 V200 H0 V 50 Q 12.5 50 25 50 T 50 50 T 75 50 T 100 50 T 125 50 T 150 50 T 175 50 T 200 50 V 200 z" dur="10000ms"/>
  </path>
  <path id="water2" fill="orangered" d="M 100 200 V200 H0 V 50 Q 12.5 45 25 50 T 50 50 T 75 50 T 100 50 T 125 50 T 150 50 T 175 50 T 200 50 V 200 z">
      <animate class="start_svg_animation" fill="freeze" begin="indefinite" attributeName="d" to="M 100 200 V200 H0 V 50 Q 12.5 50 25 50 T 50 50 T 75 50 T 100 50 T 125 50 T 150 50 T 175 50 T 200 50 V 200 z" dur="10000ms"/>
  </path>
</svg>

<style>
  body{
  background: #051535;
}
svg#waves{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#water{
  animation: move_left 10s linear forwards;
}
#water2{
  animation: move_left2 12s ease-out forwards;
  opacity: 0.75;
}

@keyframes move_left{
  0%{
    transform: translatex(0%) translatey(50%)
  }
  100%{
    transform: translatex(-100%) translatey(-50%)
  }
  0%{
    transform: translatex(0%) translatey(50%)
  }
}
@keyframes move_left2{
  0%{
    transform: translatex(-100%) translatey(50%)
  }
  100%{
    transform: translatex(0%) translatey(-50%)
  }
  0%{
    transform: translatex(-100%) translatey(50%)
  }
}
</style> -->



<!-- ejemplos de texto con agua -->

<!-- <section>
	<div class="content">
		<h2>Kemi</h2>
		<h2>Kemi</h2>
	</div>
</section>

<style>
  @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	display: flex;
	background: #000;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.content {
	position: relative;
}

.content h2 {
	color: #fff;
	font-size: 8em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #8338ec;
}

.content h2:nth-child(2) {
	color: #c19bf5;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

</style> -->


<!-- <div class="middle">
	<h1>WATER</h1>
</div>

<style>
      body{
      margin: 0;
      padding: 0;
      font-family: Arial;
    }

    h1{
     border : black;
    }


    .middle{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    .middle h1{
      font-size: 100px;
      text-transform: uppercase;
      font-weight: 900;
      color: #2c3e5036;
      background-image: url(https://res.cloudinary.com/drcrre4xg/image/upload/v1571101002/water_zvupjx.png);
      -webkit-background-clip:text;
      animation: water 15s infinite;
    }

    @keyframes water {
      from{
        background-position: left 0 top 0;
      }
      to{
        background-position: left 2000px top 10px ;
      }
    }

</style> -->



