<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body> </body>
</html>

<style>
  html {
    min-height: 100vh;

    --size: 200px;
    --porcentaje: 15%;
    --r: calc(var(--size)/2 + (var(--size)/-15)/2);
    --calc: calc(var(--size)/2 + (var(--size)/-15)/2);
    --color1: #7a4900;
    --color2: #251200;
    --color3: #302b00;

    background:
      radial-gradient(red 22px, transparent 22px) 45px var(--calc),
      /* radial-gradient(red 15%, transparent 15%) 45px calc(var(--size)/2 - (var(--size)*0.15)/1.4), */
        radial-gradient(red 15%, transparent 15%),
      radial-gradient(red 15%, transparent 15%),
      radial-gradient(red 15%, green 15%)
        /* linear-gradient(transparent 50%,#fff 50%) */;

    background-size: var(--size) var(--size);
    /* background-blend-mode: hue, difference, normal; */

    /* background-color: var(--color1); */
    /* background: url(prueba.png); */
    background-repeat: no-repeat;
  }
</style>
