---
import { IconDorsalLogo } from "@lib/Icons";
import { svgToData } from "@utils/IconsService";
import { COLORS } from "@config/global";
import "@fontsource/archivo-black";
import "@fontsource/roboto/300.css";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/700.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Sharkit" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={svgToData(IconDorsalLogo, {
        stroke: COLORS.accentLight,
        strokeWidth: "12px",
      })}
    />
    <meta name="generator" content={Astro.generator} />
    <title>Sharkit</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --max-width-content: 800px;
    --font-color: 230 230 230;
    --font-secondary-color: 160 160 160;
    --bg: 19 21 26;
    --bg-light: 30 32 43;
    --bg-dark: 8 0 30;
    --accent: 136 58 234;
    --accent-secondary: 102 51 238;
    --accent-light: 224 204 250;
    --accent-dark: 49 10 101;
    --success: 158 206 106;
    --error: 247 118 142;
    --lg: linear-gradient(
      15deg,
      rgb(var(--accent-secondary)),
      rgb(var(--accent)) 30%,
      rgb(var(--accent-light)) 90%
    );
    --lg1: linear-gradient(
      50deg,
      rgb(var(--bg-dark)),
      rgb(var(--accent-dark)),
      rgb(var(--bg-dark))
    );
    --lg2: linear-gradient(
      45deg,
      rgb(var(--accent-dark)) 20%,
      rgb(var(--accent)),
      rgb(var(--accent-dark)) 80%
    );
    --lg3: linear-gradient(
      to right,
      rgb(var(--accent-light)),
      rgb(var(--accent-secondary)),
      rgb(var(--accent)),
      rgb(var(--accent-dark))
    );
    --lg4: linear-gradient(
      45deg,
      rgb(var(--accent-secondary)),
      rgb(var(--bg-dark)),
      rgb(var(--accent-dark)),
      rgb(var(--accent))
    );
    --lg5: linear-gradient(42deg, #160024 25%, #001925 75%);
    --lg6: linear-gradient(
      to right,
      transparent,
      rgb(var(--accent)),
      rgb(var(--accent-secondary)),
      transparent
    );
    --lg6-2b: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--accent)),
      rgb(var(--accent-secondary)),
      transparent
    );
    --cg1: conic-gradient(
      transparent 60deg,
      rgb(var(--accent)) 240deg,
      rgb(var(--accent-secondary)) 320deg
    );
  }

  *::selection {
    background-color: rgb(var(--accent-secondary));
    color: rgb(var(--accent-light));
  }

  html {
    font-family: "Roboto", system-ui, sans-serif;
    color: rgb(var(--font-color));
    background: radial-gradient(
      125% 125% at 50% 10%,
      rgb(var(--bg-dark)),
      #000 40%,
      rgb(var(--accent-secondary)) 100%
    );
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
  }
</style>
