---
import App from "@layouts/App.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import BTH from "@components/BackToHome.astro";

interface Props {
  info?: boolean;
}

const { info = true } = Astro.props;
---

<App>
  <Header />
  <main>
    <slot />
  </main>
  {info ? <Footer /> : <BTH/>}
</App>

<style>
  main {
    margin: auto;
    padding: 15px;
    width: 100%;
    max-width: var(--max-width-content);
    box-sizing: border-box;
  }
</style>
